<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aloineinc.jesusify">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="Sermons">



        </activity>
        <activity
            android:name=".intro.IntroActivity"
            android:theme="@style/AppNoActionBarTheme" >


        </activity>
        <activity
            android:name=".authentication.SignupActivity"
            android:label="@string/signup" />
        <activity
            android:name=".authentication.SigninActivity"
            android:label="@string/signin" />
        <activity
            android:name=".LibraryActivity"
            android:label="My Library"
            android:theme="@style/NoDefaultActionBar">

        </activity>
        <activity
            android:name=".CartActivity"
            android:label="Cart" />
        <activity android:name=".payment.PaymentActivity" />
        <activity android:name=".navdrawer.NavActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



        </activity>



    </application>

</manifest>